link(rel="stylesheet", href="includes/style/lib/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", href="includes/style/lib/normalize.css")
link(rel="stylesheet", href="includes/style/w98.css")
link(rel="stylesheet", href="includes/style/vpr.css")
noscript
    link(rel="stylesheet", href="includes/style/noscript.css")