doctype html
html(lang="en")
    head
        title Virtual Plaza Radio
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="favicon.ico", type="image/x-icon")
        include includes/styles.jade
        include includes/scripts-head.jade
    body
        include includes/mobile-view.jade
        include includes/common.jade